
@{
    ViewBag.Title = "About Us";
}

<div class="container-fluid" style="padding-left:15px">
    <br />
    <iframe width="1232" height="480" src="https://www.youtube.com/embed/_pxhz8HQIf8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br />
<div class="container-fluid">
    <div style="padding: 50px; text-align: center; background-color: #474e5d; color: white ">
        <br />
        <h3>About Us</h3>
        <p>
            Our vision is to create technology that makes life better for everyone, everywhere — every person, every organization, and every community around the globe. This motivates us — inspires us — to do what we do. To make what we make. To invent, and to reinvent. To engineer experiences that amaze. We won’t stop pushing ahead, because you won’t stop pushing ahead. You’re reinventing how you work. How you play. How you live. With our technology, you’ll reinvent your world.
        </p>
        <p>
            This is our calling. This is a new HP.
        </p>
        <p>
            Keep reinventing.
        </p>
    </div>
    <hr />
    <footer>
        <p>&copy; HP Inc. @DateTime.Now.Year - All Rights Reserved</p>
    </footer>
</div>


